@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Ubuntu&display=swap");

html,
body {
  font-family: "Ubuntu", sans-serif;
}

.btn-main {
  background-color: #686ce5;
  color: #fff;
}

.btn-main:hover {
  color: #fff;
}

.bg-main {
  background-color: #686ce5;
  color: #fff;
}

.fa-trash-can {
  color: #ff0000;
}

.fa-pencil {
  color: #000;
}
.table-column:hover {
  background-color: #E1E3FB;
}

.notice {
  background-color: #e1e3fb;
}