@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Ubuntu&display=swap");

html,
body {
  font-family: "Ubuntu", sans-serif;
}

.btn-main,
.bg-main,
.bg-event:hover,
.fa-cloud-arrow-up {
  background-color: #686ce5;
  color: #fff;
}

.btn-main:hover {
  color: #fff;
}

.bg-event {
  background-color: #e1e3fb;
  color: #000;
}

.fa-trash-can {
  color: #ff0000;
}

.fa-pencil {
  color: #000;
}

.table-column:hover {
  background-color: #e1e3fb;
}

.notice {
  background-color: #e1e3fb;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.tools a {
  text-decoration: none;
  color: #3e4044;
}

.toggleActive {
  background-color: #686ce5;
  color: #fff;
}

.tab {
  padding-left: 1em;
  padding-right: 1em;
}

.tab a {
  text-decoration: none;
  color: #3e4044;
}

.periodLabel {
  position: relative;
  height: 2rem;
  width: 350px;
}
.periodLabel span {
  width: inherit;
  position: absolute;
  pointer-events: none;
  left: 0;
  z-index: 1;
  font-size: calc(1.275rem + 0.3vw);
  color: #000;
}
.periodLabel input {
  position: absolute;
  right: 0;
  border: none;
}

.label::-webkit-datetime-edit {
  outline: none;
}

.label::-webkit-datetime-edit-fields-wrapper {
  opacity: 0;
  width: 0;
}

.label::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.label:focus-visible {
  outline: none;
}