@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Ubuntu&display=swap");

html,
body {
  font-family: "Ubuntu", sans-serif;
}

.btn-main,
.bg-main,
.bg-event:hover,
.fa-cloud-arrow-up {
  background-color: #686ce5;
  color: #fff;
}

.btn-main:hover {
  color: #fff;
}

.bg-event {
  background-color: #e1e3fb;
  color: #000;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.tools a {
  text-decoration: none;
  color: #3e4044;
}

.toggleActive {
  background-color: #686ce5;
  color: #fff;
}

.tab {
  padding-left: 1em;
  padding-right: 1em;
}

.tab a {
  text-decoration: none;
  color: #3e4044;
}